@{
    ViewData["Title"] = "Wyszukaj wydarzenia";
}
@model Event_Aggregator.Models.Event
</br>
<div class="container-fluid">
    <div class="row">
        <form asp-controller="MyEvents" asp-action="SearchResult">
            <div class="col-sm-8 text-center ">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" asp-for="Title" class="form-control input-lg" placeholder="Wpisz hasło lub słowo kluczowe" />
                        
                    </div>
                </div>
            </div>
            
                <select  asp-for="Category">
                    <option value="IT">IT</option>
                    <option value="rozrywka">rozrywka</option>
                    <option value="Picie">Picie</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
        </form>
        <div class="col-sm-offset-4 text-center">
            <button class="btn btn-info btn-lg" type="button">
                <a asp-controller="Search" asp-action="AddEvent">Utwórz wydarzenie</a>
            </button>
        </div>
    </div>
</div>


