@{
    ViewData["Title"] = "Wyszukaj wydarzenia";
}
</br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 text-center ">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Wpisz hasło lub słowo kluczowe" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <a asp-controller="Search" asp-action="SearchResult"><i class="glyphicon glyphicon-search"></i></a>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-4 text-center">
            <button class="btn btn-info btn-lg" type="button">
                <a asp-controller="Search" asp-action="AddEvent">Utwórz wydarzenie</a>
            </button>
        </div>
    </div>
</div>


