@{
    ViewData["Title"] = "Panel administratora";
}

<link rel="stylesheet" href="~/css/LoginPanel.css" asp-append-version="true" />
</br>
</br>
<form>
    <div class="container adminpanel">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
    </div>
</form>
