@{
    ViewData["Title"] = "Panel administratora";
}
@model Event_Aggregator.Models.User
<link rel="stylesheet" href="~/css/LoginPanel.css" asp-append-version="true" />
</br>
<p>Login wcale nie admin i hasło wcale nie admin123 :D</p>
</br>
<form asp-controller="AdminPanel" asp-action="Panel" method="post">
    <div class="container adminpanel">
        <input type="text" asp-for="Login" placeholder="Enter Username" required>
        <input type="password" asp-for="Password" placeholder="Enter Password" required>
        <span>@ViewBag.Message</span>
        <button type="submit">Login</button>
    </div>
</form>
