@{
    ViewData["Title"] = "Panel administratora";
}

<p>Tu będzie możliwość zarządzania eventami. akceptowanie/odrzucanie</p>
<p>Koncept jest taki że każdy event dodany przez użytkownika będzie miał z bomby status do weryfikacji</p>
<p>No i admin będzie mógł je weryfikować i zmieniać status, dzięki któremu event będzie widoczny dla wszystkich użytkowników</p>
